ul .Temperature {
  list-style-type: none;
  text-align: right;
  color: #f95509;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 24px;
}
li {
  list-style-type: none;
  text-align: right;
  font-family: "Quicksand", sans-serif;
}
