ul .Temperature {
  list-style-type: none;
  text-align: right;
  color: #f95509;
  font-family: "Quicksand", sans-serif;
  font-weight: 900;
  font-size: 48px;
}
li {
  list-style-type: none;
  text-align: right;
  font-family: "Quicksand", sans-serif;
}
.Search {
  font-family: sans-serif;
  text-align: float-left;
  font-size: 16px;
  line-height: 26px;
}
.Button {
  margin-left: 5px;
  border-radius: 5px;
  border: 0px #1495c4;
  background: #1495c4;
  color: white;
  font-size: 16px;
  line-height: 12px;
  padding: 10px 12px;
  text-decoration: none;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}
